[Unit]
Description=Lorri Daemon (Go)
Requires=lorri.socket
After=lorri.socket

[Service]
ExecStart=%h/.nix-profile/bin/lorri-go daemon
PrivateTmp=true
ProtectSystem=full
Restart=on-failure

# Install the Go binary via:
#   nix-env -iA lorri-go -f nix/overlay.nix
# or for development:
#   nix-build -A passthru.go && ln -sf $(pwd)/result/bin/lorri ~/.nix-profile/bin/lorri-go
